#!/usr/bin/env bash

echo "LOADED FUNCTIONS"

# -----------
# Functions
# -----------

#MAKE DIRECTORY
mkd() {
	mkdir -p "$@" && cd "$_"
}

#GRAV LOCALHOST
grav-local() {
	printf "What localhost port would you like to use (8000)? ->"
	read -r PORTNUM
	LOCAL_H="php -S localhost:$PORTNUM system/router.php"
	eval $LOCAL_H
}

#CREATE WEB PROJECT USING GRAV
cwp() {
	dt
	IFS=
	printf "What's project folder name? ->"
	read -r DIRN
	mkd "WEB-$DIRN"
	cpgrav
}